.editor-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    height: 98vh;
}
.page-settings {
    overflow-y: auto;
}
.tokens-list {
    overflow-y: auto;
}
.preview-wrapper {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #cccccc;
    text-align:center;
}
.scale-controls {
    position: absolute;
    display: block;
    top: 10px;
    left: 36%;
}
.scale-button {
    display: flex;
    width: 40px;
}
.scale-button-img {
    width: 100%;
}
.preview {
    position: relative;
    width: 100%;
    margin: auto;
    display: inline-block;
}
.canvas {
    background-color: white;
    width: 100%;
}
.card-img {
    width: 100px;
}
.card-delete-img {
    width: 30px;
}
.card-move-img {
    width: 15px;
}
