.editor-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
}
.preview {
    height: 98vh;
}
.pdf-viewer {
    width: 100%;
    height: 100%;
}
.card-img {
    width: 100px;
}
.card-delete-img {
    width: 30px;
}
.card-move-img {
    width: 15px;
}
